<!-- {%extends 'base.html'%}  -->
{% block content %}
<div class="container">

  <div class="row">
    {% if pictures%}
      <h2>Found {{ pictures|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 pictures for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if pictures %}
    {% for picture in pictures  %}
      <div class="col-sm-6 col-md-3">
          <h1>{{picture.title}}</h1>
      </div>
      <div class="col-sm-6 col-md-3">
        <img class="card-img-top" src="{{picture.image.url}}" alt="Card image cap"  style="height: 40rem; width: 50rem;">
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}